header {
    background: linear-gradient(var(--blue-dark),var(--blue-main));
    color: var(--font-color);

    border-bottom: 1px solid;
}

header .title {
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 1%;
}

header .logos {
    display: flex;
    justify-content: space-around;

    width: 200px;
    height: 50px;
}


header nav {
    margin: 1% 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}