main .container {
    margin: 2%;
}

main .gitHubWindow {
    text-align: center;
}

main .gitHubWindow h3,
main .gitHubWindow h4 {
    padding: 1%;
}

main article a {
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    padding: 1px;
    text-decoration-color: black;
}
