* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color-text);
}